html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  user-select: none;
}

.no-scrollbar {
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.no-scrollbar-holizontal {
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.piano-key {
  &.scale-tone {
    width: 100%;
    background-color: rgb(240, 242, 243);
  }

  &.non-scale-tone {
    width: 41px;
    background-color: rgb(42, 47, 50);
    transition: height 0.5s ease-in-out;

    #app:not(.flag-collapse) & {

    }
    #app.flag-collapse & {
      height: 0 !important;
    }
  }
}

.pitch-row-wrapper {
  overflow: visible;

  &.non-scale-tone {
    transition: height 0.5s ease-in-out;

    #app:not(.flag-collapse) & {
    }
    
    #app.flag-collapse & {
      height: 0 !important;
    }
  }
}

.pitch-row {
  .pitch-row-wrapper > & {
    overflow: visible;
  }

  .pitch-row-wrapper.scale-tone > & {
    background-color: rgb(42, 45, 49);

    transition: box-shadow 0.5s ease-in-out;
    
    #app:not(.flag-collapse) .pitch-row-wrapper.non-scale-tone +
    .pitch-row-wrapper.scale-tone +
    .pitch-row-wrapper.non-scale-tone +
    .pitch-row-wrapper.scale-tone +
    .pitch-row-wrapper.non-scale-tone +
    .pitch-row-wrapper.scale-tone + & {
      box-shadow: inset 0px 1px 0px rgb(35, 37, 39);
    }

    #app:not(.flag-collapse) .pitch-row-wrapper.scale-tone +
    .pitch-row-wrapper.scale-tone +
    .pitch-row-wrapper.non-scale-tone +
    .pitch-row-wrapper.scale-tone +
    .pitch-row-wrapper.non-scale-tone +
    .pitch-row-wrapper.scale-tone + & {
      box-shadow: inset 0px 1px 0px rgb(24, 25, 27);
    }

    #app.flag-collapse 
    .pitch-row-wrapper.scale-tone + & {
      box-shadow: inset 0px 1px 0px rgb(35, 37, 39);
    }
  }

  .pitch-row-wrapper.non-scale-tone > & {
    background-color: rgb(35, 37, 39);
    
    position: relative;
    transition: top 0.5s ease-in-out, height 0.5s ease-in-out;

    #app:not(.flag-collapse) & {
      top: 0;
    }

    #app.flag-collapse & {
      top: -2px;
      height: 4px !important;
    }
  }
}

.note {
  .pitch-row-wrapper.scale-tone & {
    background-color: rgb(62, 137, 155);
  }

  .pitch-row-wrapper.non-scale-tone & {
    background-color: rgb(247, 31, 31);
    
    transition: border-radius 0.5s ease-in-out;
    
    #app:not(.flag-collapse) & {
      border-radius: 0px;
    }

    #app.flag-collapse & {
      border-radius: 16px;
    }
  }
}
